<h1>

    PROFESORES <small>PERSONALES</small> </h1>
<hr>
<div class="card-columns">
    <!--prof es variable cualquiera profesores es de profesores.component.ts -->
    <!--pongo una sola tarjeta porque extrae todos los profesores del profesores.service.ts porque es un arreglo-->
    <!--alt extrer el nombre de cada profesor -->

    <div *ngFor="let prof of profesores; let i = index; ">
        <div class="card animated fadeIn fast" *ngIf="prof.roles.admin">

            <img [src]="prof.photoUrl" class="card-img-top" [alt]="prof.name">
            <div class="card-body">
                <h5 class="card-title">{{ prof.name }}</h5>
                <p class="card-text">{{ prof.biografia }}</p>

                <!--Buscar {{term}}-->

                <!-- <button type="button" class="btn btn btn-outline-primary btn-block">VER MÁS ...</button>-->
                <!-- <button type="button" class="btn btn btn-outline-primary btn-block">CHAT</button>-->


                <p class="clasificacion">
                    <input id="radio1" type="radio" name="estrellas" value="5">
                    <!--
                          --><label for="radio1">★</label>
                    <!--
                          --><input id="radio2" type="radio" name="estrellas" value="4">
                    <!--
                          --><label for="radio2">★</label>
                    <!--
                          --><input id="radio3" type="radio" name="estrellas" value="3">
                    <!--
                          --><label for="radio3">★</label>
                    <!--
                          --><input id="radio4" type="radio" name="estrellas" value="2">
                    <!--
                          --><label for="radio4">★</label>
                    <!--
                          --><input id="radio5" type="radio" name="estrellas" value="1">
                    <!--
                          --><label for="radio5">★</label>
                </p>

                <!--opciones de REDIRECCIONAR PAGINA-->
                <a [routerLink]="['/prof', i]" routerLinkActive="router-link-active" class="btn btn btn-outline-primary btn-block">CHAT</a>

            </div>
        </div>

    </div>