<!-- que quiero que salga al dar home-->
<!--<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container">
        <p align="right">Este texto se alineará a la derecha</p>

        <h1 class="display-4" align="center">CLASS-CHAT</h1>

        <p class="lead" align="center">CUADRA TUS CLASES AHORA !!</p>
    </div>
    <h3> Integrantes: </h3>
    <br>Collantes Jefferson <br>Quiñonez Jair <br>Sango Katherin <br>Tipantiza Kevin
</div>-->

<body>
    <section id="pantalla-dividida">

        <div class="izquierda">
        </div>
        <div class="derecha">
            <br>
            <br>
            <h1 align="right" align="center"><span class="creative">CLASS-CHAT</span></h1>
            <br>
            <p class="lead" align="right" align="center">CUADRA TUS CLASES AHORA !!</p>
            <br>
            <h3 align="right" align="center"> Integrantes: </h3>
            <div align="right" align="center">
                <br>Collantes Jefferson <br>Quiñonez Jair <br>Sango Katherin <br>Tipantiza Kevin
            </div>
        </div>
    </section>
</body>